.container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.row {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 100%;
  flex-wrap: wrap;
  flex-basis: 30%;
}

.col {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex: 25%;
  flex-grow: initial;
}

.card {
  display: flex;
  flex-direction: column;
  padding: 16px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  margin: 16px;
  border-radius: 16px;
}

.card-meta {
  justify-content: space-evenly;
}

.card-divider {
  margin: 16px;
}

.card-actions {
  justify-content: space-evenly;
}

.btn {
  outline: none;
  border: none;
  z-index: 1;
  text-decoration: none;
  color: white;
  font-weight: bolder;
  padding: 8px 16px;
  font-size: 16px;
  border-radius: 8px;
  background-color: #4681f4;
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px,
    rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
}
