#abt-sec {
  /* width: 90%; */
  margin: 64px 128px;
}

#underscore {
  background: #6c63ff;
  box-shadow: 0px 16px 20px 0px #6c63ff;
}

#hero-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#hero-section p {
  margin: 30px 0;
  text-indent: 10%;
  font-size: 21px;
}

#team-sec {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 30px 0;
}

#team-content {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  font-size: 20px;
}

#team-img {
  width: 40%;
}
