/* 
  Type Scale :
    Base :- 16px;
    Scale :- 1.333 (Perfect Fourth)
 */

@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap");

* {
  margin: 0;
  padding: 0;
  font-family: "Open Sans", sans-serif;
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;
}

/** Navbar Styling */

#navbar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

#navbar ul {
  list-style: none;
}

#title {
  font-size: 30px;
  margin: 16px;
  font-weight: 600;
  display: inline-flex;
  user-select: none;
}

#nav-link-list {
  display: flex;
  flex-direction: row;
  align-items: center;
}

#nav-links {
  display: flex;
  flex-direction: row;
}

#nav-links li a {
  margin: 10px 30px;
}

.nav-item a {
  font-size: 21px;
  font-weight: 600;
  color: #3a3a3a;
  text-decoration: none;
}


body {
  font-size: 16px;
}

h1 {
  font-size: 67px;
}

h2 {
  font-size: 50px;
}

h3 {
  font-size: 38px;
}

h4 {
  font-size: 28px;
}

h5 {
  font-size: 21px;
}

.header-underscore {
  width: 256px;
  outline: none;
  height: 4px;
  border: none;
  border-radius: 4px;
}
