body {
  height: 100vh;
}

#tools-img {
  width: 40%;
}

#tools-form {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  margin: 64px 0px;
}

#tools-form input {
  outline: none;
  border-radius: 8px;
  border: 0.5px solid gray;
  margin-bottom: 40px;
  padding: 12px;
  font-size: 20px;
  font-weight: 600;
  transition: all 0.1s ease 0s;
}

#tools-form input:focus {
  border: none;
  box-shadow: 0px 3px 20px 0px #b1b1b1;
}

.input-name {
  font-size: 28px;
  font-weight: 500;
}

#tools-form form {
  display: flex;
  flex-direction: column;
}

#tool-btn {
  width: 50%;
  padding: 12px;
  margin: 0 auto;
  font-size: 20px;
  font-weight: 700;
  background-color: #6C63FF;
  color: #fff;
  border-radius: 8px;
  outline: none;
  border: none;
  cursor: pointer;
}