body {
  overflow: hidden; /* Don't show scroll bar when using scale function for animation */
}

#login-image-div img {
  display: flex;
  width: 75%;
  /* animation: 0.8s ease-in 0s 1 img-slider; */
}

#login-form-div {
  display: flex;
  flex-direction: column;
  box-shadow: -8px 8px 20px 0px #b5b5b5;
  padding: 60px;
  border-radius: 20px;
  /* animation: 0.8s ease-in 0s 1 form-slider; */
}

#login-form {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: stretch;
  width: 400px;
}

#login-form input {
  outline: none;
  border: none;
  border-bottom: 1px solid gray;
  margin-bottom: 40px;
  padding: 8px;
  font-size: 21px;
}

#login-header {
  margin: 20px 0 40px 0;
}

#login-btn {
  width: 50%;
  padding: 16px;
  margin: 0 auto;
  font-size: 20px;
  font-weight: 700;
  background-color: #6C63FF;
  color: #fff;
  border-radius: 8px;
  outline: none;
  border: none;
  cursor: pointer;
}

#signup-link {
  margin: 0 auto;
  margin-top: 24px;
}

@keyframes img-slider {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(0);
  }
}

@keyframes form-slider {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(0);
  }
}