{% extends 'base.html' %}

{% block stylelink %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/about-us-style.css') }}" />
{% endblock %}

{% block title %}About Us{% endblock %}

{% block body %}
<main class="container">
  <div id="abt-sec">
    <div id="hero-section">
      <h1 id="hero-title">Demand Forecasting</h1>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Sed laborum
        minus at dolorum iste, culpa sint autem maiores aliquam delectus
        blanditiis? Magnam, maxime eligendi ullam nihil quisquam recusandae.
        Id, deleniti? Ut, asperiores unde dolor expedita sint quia
        architecto accusamus quasi qui voluptate, amet doloribus reiciendis
        perspiciatis excepturi molestiae exercitationem. Laborum maiores
        amet natus explicabo officia vero voluptatibus distinctio dolores
        illo. Nostrum veniam eligendi voluptate! Sequi cum eligendi odio
        asperiores architecto maxime, a consectetur earum laborum mollitia
        odit iusto. Tenetur labore quod provident, repudiandae facere
        accusamus tempore. Ullam eius cum minima.
      </p>
    </div>
    <div id="team-sec">
      <h2 id="team-title">Team</h2>
      <hr id="underscore" class="header-underscore" >
      <div id="team-content">
        <p id="team-desc">
          Lorem ipsum dolor sit amet consectetur adipisicing elit.
          Laudantium veritatis asperiores alias quam autem rerum perferendis
          ipsum. Non dolor dolorum dolores eligendi deserunt odit commodi at
          quos aliquam. Neque, totam. Porro sapiente minima facilis veniam,
          placeat sed reprehenderit praesentium magnam deleniti architecto
          nulla rem officia numquam in eum natus mollitia nihil ducimus at?
          Possimus, vero. Voluptatem voluptatibus dolorem reprehenderit
          doloremque? Voluptatem officiis, deleniti distinctio saepe beatae
          esse odio, ab dignissimos fugiat ipsa error vero officia animi
          recusandae similique quasi! Recusandae corporis enim
          necessitatibus eaque hic repudiandae deleniti impedit accusamus
          culpa.
        </p>
        <img id="team-img" src="{{ url_for('static', filename='images/about-us.svg') }}" alt="about-us-image" />
      </div>
    </div>
  </div>
</main>
{% endblock %}