<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="shortcut icon"
      href="../static/images/favicon.png"
      type="image/x-icon"
    />
    <link rel="stylesheet" href="../static/css/main.css" />
    <link rel="stylesheet" href="../static/css/index-style.css" />
    <title>Home - Demand Forecasting</title>
  </head>

  <body>
    <nav id="navbar">
      <ul id="nav-link-list">
        <div id="title" class="nav-item">
          Demand Forecasting&nbsp;
          <img src="../static/images/demand.png" height="48" />
        </div>
        <div id="nav-links">
          <li id="home" class="nav-item"><a href="#">Home</a></li>
          <li id="tools" class="nav-item"><a href="">Tool</a></li>
          <li id="about-us" class="nav-item"><a href="">About Us</a></li>
        </div>
      </ul>
    </nav>
    <main id="home-container" class="container">
      <div id="hero-sec">
        <div id="header-sec">
          <span id="hero-header">Demand Forecasting</span>
          <p>
            Lorem ipsum dolor sit, amet consectetur adipisicing elit. Neque
            necessitatibus consectetur eum tempora reiciendis, corporis
            veritatis deleniti beatae quam deserunt iure? Labore minima eum
            veritatis quod saepe nostrum dicta sunt. Nulla quam est voluptas
            unde hic vel accusamus consequatur reprehenderit exercitationem
            nobis itaque rerum sed laudantium corporis, autem quod, dolorem
            distinctio labore aliquam? Illo ab possimus non quos adipisci dolor!
          </p>
        </div>
        <img
          src="../static/images/dem-forecast-bg.jpg"
          alt="demand-forecasting-hero-image"
        />
      </div>
      <div id="hiw-sec">
        <h2>How It Works ?</h2>
        <hr id="hiw-underscore" class="header-underscore" />
        <ul>
          <li>
            Lorem ipsum dolor sit amet consectetur, adipisicing elit. Nostrum
            voluptatibus perspiciatis in sint, dolor quas quos quaerat
            exercitationem perferendis velit itaque harum consectetur aliquid
            obcaecati numquam magni, deleniti eos officiis.
          </li>
          <li>
            Lorem ipsum dolor sit amet consectetur, adipisicing elit. Nostrum
            voluptatibus perspiciatis in sint, dolor quas quos quaerat
            exercitationem perferendis velit itaque harum consectetur aliquid
            obcaecati numquam magni, deleniti eos officiis.
          </li>
          <li>
            Lorem ipsum dolor sit amet consectetur, adipisicing elit. Nostrum
            voluptatibus perspiciatis in sint, dolor quas quos quaerat
            exercitationem perferendis velit itaque harum consectetur aliquid
            obcaecati numquam magni, deleniti eos officiis.
          </li>
          <li>
            Lorem ipsum dolor sit amet consectetur, adipisicing elit. Nostrum
            voluptatibus perspiciatis in sint, dolor quas quos quaerat
            exercitationem perferendis velit itaque harum consectetur aliquid
            obcaecati numquam magni, deleniti eos officiis.
          </li>
        </ul>
      </div>
      <div id="feat-sec">
        <h2>Features</h2>
        <hr id="features-underscore" class="header-underscore" />
        <div id="feat-main-sec">
          <div id="feat-img-sec">
            <img
              id="feat-image"
              src="../static/images/features.svg"
              alt="features-image"
            />
          </div>
          <ul id="feat-ul">
            <li class="feat-items">
              <h4>Lorem Ipsum 1</h4>
              <p class="feat-item-info">
                Lorem ipsum dolor sit amet consectetur, adipisicing elit. Lorem ipsum dolor sit amet consectetur, adipisicing elit.
              </p>
            </li>
            <li class="feat-items">
              <h4>Lorem Ipsum 2</h4>
              <p class="feat-item-info">
                Lorem ipsum dolor sit amet consectetur, adipisicing elit. Lorem ipsum dolor sit amet consectetur, adipisicing elit.
              </p>
            </li>
            <li class="feat-items">
              <h4>Lorem Ipsum 3</h4>
              <p class="feat-item-info">
                Lorem ipsum dolor sit amet consectetur, adipisicing elit. Lorem ipsum dolor sit amet consectetur, adipisicing elit.
              </p>
            </li>
            <li class="feat-items">
              <h4>Lorem Ipsum 4</h4>
              <p class="feat-item-info">
                Lorem ipsum dolor sit amet consectetur, adipisicing elit. Lorem ipsum dolor sit amet consectetur, adipisicing elit.
              </p>
            </li>
          </ul>
        </div>
      </div>
    </main>
  </body>
</html>
