<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="shortcut icon"
      href="../static/images/favicon.png"
      type="image/x-icon"
    />
    <link rel="stylesheet" href="../static/css/main.css" />
    <link rel="stylesheet" href="../static/css/tools-style.css" />
    <title>Tools - Demand Forecasting</title>
  </head>
  <body>
    <nav id="navbar">
      <ul id="nav-link-list">
        <div id="title" class="nav-item">
          Demand Forecasting&nbsp;
          <img src="../static/images/demand.png" height="48" />
        </div>
        <div id="nav-links">
          <li id="home" class="nav-item"><a href="index.html">Home</a></li>
          <li id="tools" class="nav-item"><a href="tools.html">Tool</a></li>
          <li id="about-us" class="nav-item"><a href="about-us.html">About Us</a></li>
        </div>
      </ul>
    </nav>
    <main class="container">
      <div id="tools-form">
        <form action="#">
          <p class="tools-input-sec">
            <label class="input-name" for="input-1">Input 1:&nbsp;</label>
            <input name="input-1" type="text" placeholder="Placeholder" />
          </p>
          <p class="tools-input-sec">
            <label class="input-name" for="input-2">Input 2:&nbsp;</label>
            <input name="input-2" type="text" placeholder="Placeholder" />
          </p>
          <p class="tools-input-sec">
            <label class="input-name" for="input-3">Input 3:&nbsp;</label>
            <input name="input-3" type="text" placeholder="Placeholder" />
          </p>
          <p class="tools-input-sec">
            <label class="input-name" for="input-4">Input 4:&nbsp;</label>
            <input name="input-4" type="text" placeholder="Placeholder" />
          </p>
          <p class="tools-input-sec">
            <label class="input-name" for="input-5">Input 5:&nbsp;</label>
            <input name="input-5" type="text" placeholder="Placeholder" />
          </p>
          <button type="submit" id="tool-btn">Submit</button>
        </form>
        <img id="tools-img" src="../static/images/tools.jpg" alt="tools-image" />
      </div>
    </main>
  </body>
</html>
