{% extends 'base.html' %}

{% block stylelink %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/tools-style.css') }}" />
{% endblock %}

{% block title %}Tool{% endblock %}

{% block body %}
<main class="container">
  <div id="tools-form">
    <form action="#">
      <p class="tools-input-sec">
        <label class="input-name" for="input-1">Input 1:&nbsp;</label>
        <input name="input-1" type="text" placeholder="Placeholder" />
      </p>
      <p class="tools-input-sec">
        <label class="input-name" for="input-2">Input 2:&nbsp;</label>
        <input name="input-2" type="text" placeholder="Placeholder" />
      </p>
      <p class="tools-input-sec">
        <label class="input-name" for="input-3">Input 3:&nbsp;</label>
        <input name="input-3" type="text" placeholder="Placeholder" />
      </p>
      <p class="tools-input-sec">
        <label class="input-name" for="input-4">Input 4:&nbsp;</label>
        <input name="input-4" type="text" placeholder="Placeholder" />
      </p>
      <p class="tools-input-sec">
        <label class="input-name" for="input-5">Input 5:&nbsp;</label>
        <input name="input-5" type="text" placeholder="Placeholder" />
      </p>
      <button type="submit" id="tool-btn">Submit</button>
    </form>
    <img id="tools-img" src="{{ url_for('static', filename='images/tools.jpg') }}" alt="tools-image" />
  </div>
</main>
{% endblock %}
